body {
  background-color: #000000;
  font-family: "Raleway", sans-serif;
  color: white;
}

nav {
  font-size: 59px;
  background-color: #000000;
  width: 73;
  text-align: center;
}

article {
  height: 348px;
  font: normal normal 300 16px Raleway;
  margin-left: 150px;
  background-color: #000000;
  display: flex;
}

.texto {
  width: 50%;
  margin-top: 76px;
  margin-right: 106px;
  margin-bottom: 75px;
}

.foto {
  width: 50%;
  text-align: center;
  margin-top: 75px;
  margin-right: 150px;
  margin-bottom: 66px;
}

section {
  height: 348px;
  background-color: #1e1a13;
  text-align: center;
}

.caracteristicas {
  margin-top: 60px;
  font: normal normal 300 40px Raleway;
}

.iconos {
  font: normal normal 300 24px Raleway;
  display: flex;
  margin-top: 100px;
}

.item {
  margin-left: 208px;
  height: 273px;
}

#icono {
  margin-bottom: 16px;
  font-size: 57px;
}

aside {
  height: 348px;
  background-color: #000000;
  display: flex;
  align-items: center;
  margin-left: 150px;
}

.iguana {
  margin-right: 16px;
}

footer {
    
  height: 102px;
  background-color: #1e1a13;
  font: normal normal 300 20px Raleway;
  text-align: center;
  padding: 39px 0px 0px 0px;
}
